<!DOCTYPE html>
<html lang="en">
<head>
    <win charset="UTF-8">
    <win name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Controll</title>
</head>
<body>
    <div class="row1">
        <button class="kbrd-btn" style="width:40px;height:25px;" id="esc">esc</button>
        <button class="kbrd-btn r1" id="f1">f1</button>
        <button class="kbrd-btn r1" id="f2">f2</button>
        <button class="kbrd-btn r1" id="f3">f3</button>
        <button class="kbrd-btn r1" id="f4">f4</button>
        <button class="kbrd-btn r1" id="f5">f5</button>
        <button class="kbrd-btn r1" id="f6">f6</button>
        <button class="kbrd-btn r1" id="f7">f7</button>
        <button class="kbrd-btn r1" id="f8">f8</button>
        <button class="kbrd-btn r1" id="f9">f9</button>
        <button class="kbrd-btn r1" id="f10">f10</button>
        <button class="kbrd-btn r1" id="f11">f11</button>
        <button class="kbrd-btn r1" id="f12">f12</button>
        <button class="kbrd-btn r1" id="ins">ins</button>
        <button class="kbrd-btn r1" id="del">del</button><br>
    </div>
    <div class="row2">
        <button class="kbrd-btn" style="width:30px;height:60px;" id="`">`</button>
        <button class="kbrd-btn r2" id="1">1</button>
        <button class="kbrd-btn r2" id="2">2</button>
        <button class="kbrd-btn r2" id="3">3</button>
        <button class="kbrd-btn r2" id="4">4</button>
        <button class="kbrd-btn r2" id="5">5</button>
        <button class="kbrd-btn r2" id="6">6</button>
        <button class="kbrd-btn r2" id="7">7</button>
        <button class="kbrd-btn r2" id="8">8</button>
        <button class="kbrd-btn r2" id="9">9</button>
        <button class="kbrd-btn r2" id="0">0</button>
        <button class="kbrd-btn r2" id="-">-</button>
        <button class="kbrd-btn r2" id="=">=</button>
        <button class="kbrd-btn" style="width:86px;height:60px;" id="backspace">backspace</button><br>
    </div>
    <div class="row3">
        <button class="kbrd-btn" style="width:78px;height:60px;" id="tab">tab</button>
        <button class="kbrd-btn r3" id="q">q</button>
        <button class="kbrd-btn r3" id="w">w</button>
        <button class="kbrd-btn r3" id="e">e</button>
        <button class="kbrd-btn r3" id="r">r</button>
        <button class="kbrd-btn r3" id="t">t</button>
        <button class="kbrd-btn r3" id="y">y</button>
        <button class="kbrd-btn r3" id="u">u</button>
        <button class="kbrd-btn r3" id="i">i</button>
        <button class="kbrd-btn r3" id="o">o</button>
        <button class="kbrd-btn r3" id="p">p</button>
        <button class="kbrd-btn r3" id="[">[</button>
        <button class="kbrd-btn r3" id="]">]</button>
        <button class="kbrd-btn r3" id="enter">enter</button><br>
    </div>
    <div class="row4">
        <button class="kbrd-btn" style="width:88px;height:60px;" id="capslock">capslock</button>
        <button class="kbrd-btn r3" id="a">a</button>
        <button class="kbrd-btn r3" id="s">s</button>
        <button class="kbrd-btn r3" id="d">d</button>
        <button class="kbrd-btn r3" id="f">_ f _</button>
        <button class="kbrd-btn r3" id="g">g</button>
        <button class="kbrd-btn r3" id="h">h</button>
        <button class="kbrd-btn r3" id="j">_ j _</button>
        <button class="kbrd-btn r3" id="k">k</button>
        <button class="kbrd-btn r3" id="l">l</button>
        <button class="kbrd-btn r3" id=";">;</button>
        <button class="kbrd-btn r3" id="'">'</button>
        <button class="kbrd-btn r3" id="\">\</button>
        <button class="kbrd-btn" style="width:52px;height:60px;" id="enter">enter</button><br>
    </div>
    <div class="row5">
        <button class="kbrd-btn" style="width:128px;height:60px;" id="shift">shift</button>
        <button class="kbrd-btn r3" id="z">z</button>
        <button class="kbrd-btn r3" id="x">x</button>
        <button class="kbrd-btn r3" id="c">c</button>
        <button class="kbrd-btn r3" id="v">v</button>
        <button class="kbrd-btn r3" id="b">b</button>
        <button class="kbrd-btn r3" id="n">n</button>
        <button class="kbrd-btn r3" id="m">m</button>
        <button class="kbrd-btn r3" id=",">,</button>
        <button class="kbrd-btn r3" id=".">.</button>
        <button class="kbrd-btn r3" id="/">/</button>
        <button class="kbrd-btn r3" id="up">up</button>
        <button class="kbrd-btn" style="width:78px;height:60px;" id="shift">shift</button><br>
    </div>
    <div class="row6">
        <button class="kbrd-btn r3" id="ctrl">ctrl</button>
        <button class="kbrd-btn r3" id="fn">fn</button>
        <button class="kbrd-btn r3" id="win">win</button>
        <button class="kbrd-btn r3" id="alt">alt</button>
        <button class="kbrd-btn" style="width:346px;height:60px;" id="space">space</button>
        <button class="kbrd-btn r3" id="alt">alt</button>
        <button class="kbrd-btn r3" id="ctrl">ctrl</button>
        <button class="kbrd-btn r3" id="left">left</button>
        <button class="kbrd-btn r3" id="down">down</button>
        <button class="kbrd-btn r3" id="right">right</button><br>
    </div>


</body>
<style type="text/css">
    .kbrd-btn{
        margin-top: 5px;
        height: 60px;
    }
    .r1{
        width: 60px;
        height: 25px !important;
    }
    .r2{
        width: 64px;
    }
    .r3{
        width: 62px;
    }
    .pressed {
        background-color: grey;
    }


</style>
<script src="/static/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();

    socket.on('connect', function() {
        console.log("Connected")
    });

    let data = {
        key:     null,
        capslock: false,
        shift: false,
        ctrl: false,
        fn: false,
        win: false,
        alt: false
    }


    function send_key(){
        socket.emit("keystroke", JSON.stringify(
            data
        ))
    }


    let btns = document.getElementsByClassName("kbrd-btn");
    for (let i = 0; i < btns.length; i++){
        btns[i].addEventListener("click", function (){
            switch (btns[i].id){
                case "capslock":
                    data.capslock = !data.capslock
                    btns[i].classList.toggle("pressed")
                    break

                case "shift":
                    data.shift = !data.shift
                    btns[i].classList.toggle("pressed")
                    break

                case "ctrl":
                    data.ctrl = !data.ctrl
                    btns[i].classList.toggle("pressed")
                    break

                case "fn":
                    data.fn = !data.fn
                    btns[i].classList.toggle("pressed")
                    break

                case "win":
                    data.win = !data.win
                    btns[i].classList.toggle("pressed")
                    break

                case "alt":
                    data.alt = !data.alt
                    btns[i].classList.toggle("pressed")
                    break

                default:
                    data.key = btns[i].id
                    send_key(btns[i])
                    data = {
                        key:     null,
                        capslock: data.capslock,
                        shift: false,
                        ctrl: false,
                        fn: false,
                        win: false,
                        alt: false
                    }
                    let pressed = document.getElementsByClassName("pressed")
                    for (let i = 0; i < pressed.length; i++) {
                        if (pressed[i] === 'capslock' && data.capslock){
                            continue
                        }
                        pressed[i].classList.remove("pressed")
                    }
            }
        })
    }
</script>
</html>
